Leo-Rani --> One should drape saree to another
Babu-Jaco --> Both should propose to each other creatively
Angel-Richa --> Flour game, Rules will be explained
Lisy-Prabhu-Eric --> Play a 1 minute Advertisement for Ad: diaper
Sherin family --> Newspaper dressing
Tanura family --> Makeover for satish by lisy and tanura (lipstick, eyeliner, bindi, powder, hairdressing)
Anand anna family --> Pictures story
Joel family --> Joel will sing and parents will dance
Durai family --> Each one to speak about memorable moments with eric
Santosh family --> 
Mona sister --> 
Hillary sister --> Family drawing on eric as a superhero
Lillyma --> 
Mary sister -->

